.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.outer {
  border: 4px dashed darkgreen;
  background-color: palegreen;
  padding: 1rem;
}

.inner {
  border: 4px dashed limegreen;
  background-color: honeydew;
  padding: 1rem;
  margin-top: 1rem;
}

/* problem definition demo animations */

.animate-in {
  animation: fade-in 500ms forwards;
}

.animate-out {
  animation: fade-out 500ms forwards;
}

/* react-transition-group demo animations */

.enter,
.appear {
  opacity: 0;
}

.enter-active,
.appear-active {
  animation: fade-in 500ms forwards;
}

.exit {
  opacity: 1;
}

.exit-active {
  animation: fade-out 500ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}